<div class="background homeb">
<%= render partial: "navbarlogin" %>
<br><br><br><br>
<h1>Welcome to Watering Can!</h1>

<h3><%= link_to('Sign Up', signup_path) %></h3>

<h3><%= link_to('Log In', login_path) %></h3>
<br><br>
<p>or</p>
<br><br>
<p><%= link_to('Login with Google', '/auth/google_oauth2') %></p>
</div>
