<% unless @plant.next_water_day.blank? && @plant.last_day_watered.blank? %>
<li>Last day watered: @plant.last_day_watered.to_date.strftime("%m/%d/%Y"), Next water day: @plant.next_water_day.to_date.strftime("%m/%d/%Y")</li>
<% end %>
