<div class="background dispindexb">
<%= render partial: "navbar" %>
<br>
<br>
<% @user.dispensers.each do |disp| %>


<h1><%= link_to(disp.name, dispenser_plants_path(disp)) %></h1>



<ol class="yeseva">
  <% disp.plants.each do |plant| %>
  <li><%= link_to plant.name, edit_dispenser_plant_path(disp, plant), :class => "plantlink" %>, <%= plant.location %></li>
  <% end %>

</ol>
<% end %>

</div>
