<div class="background dispindexb">
<%= render partial: "navbar" %>

<% @user.dispensers.each do |disp| %>


<h1><%= link_to(disp.name, dispenser_plants_path(disp)) %></h1>


<% disp.plants.each do |plant| %>
<ol>
  <li><%= plant.name %>, <%= plant.location %></li>
</ol>
<% end %>
<% end %>
</div>
