/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ///////////// MAIN LAYOUTS //////////// */

body {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 26px;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
  transition: margin .3s cubic-bezier(.23,1,.32,1);
  width: 100%;
}

body.flash-active {
  margin: 56px auto 0;
}

.site-wrapper--padding {
  padding: 0 32px;
}

.col {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  position: relative;
}

.col--center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.col--full {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

/* ///////////// FLASH MESSAGES ////////// */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.flash-bar {
  color: #fff;
  position: absolute;
  height: 56px;
  left: 0;
  max-width: 1440px;
  right: 0;
  top: -56px;
  transition: all .3s cubic-bezier(.23,1,.32,1);
  width: 100%;
  z-index: 900;
}

.success {
  background-color: #007b5f
}

.error {
  background-color: #ff0d0d
}

.notice {
  background-color: #007b5f
}

.flash-font {
  font-family: Domaine-Regular,helvetica,sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
}


/* ///////////// LINKS //////////////// */

/* ///////////// HEADER //////////////// */

/* ///////////// BACKGROUNDS ////////////// */

/* //////////////// FORMS /////////////// */

/* ///////////// BOX SIZING //////////////// */

/* ///////////// BUTTONS //////////////// */

/* ///////////// FOOTER //////////////// */
