/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ///////////// MAIN LAYOUTS //////////// */

.site-wrapper--padding {
    padding: 0 32px;
}

/* ///////////// FLASH MESSAGES ////////// */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}

.success {
  background-color: #007b5f
  background: #007b5f;
    color: #fff;
    position: absolute;
    height: 56px;
    left: 0;
    max-width: 1440px;
    right: 0;
    top: -56px;
    transition: all .3s cubic-bezier(.23,1,.32,1);
    width: 100%;
    z-index: 900;
}

.error {


}

.notice {


}


/* ///////////// LINKS //////////////// */

/* ///////////// HEADER //////////////// */

/* ///////////// BACKGROUNDS ////////////// */

/* //////////////// FORMS /////////////// */

/* ///////////// BOX SIZING //////////////// */

/* ///////////// BUTTONS //////////////// */

/* ///////////// FOOTER //////////////// */
