/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Lobster|Yeseva+One');

/* ///////////// MAIN LAYOUTS //////////// */
html, body {
    height: 100%;
    overflow: auto;
    margin: 0;
}

body {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 26px;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
  transition: margin .3s cubic-bezier(.23,1,.32,1);
  width: 100%;
}

body.flash-active {
  margin: 56px auto 0;
}

.site-wrapper--padding {
  padding: 0 32px;
}

.col {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  position: relative;
}

.col--center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.col--v-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.col--right {
  flex-grow: 1;
}

.col--full {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col--full2 {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 6;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col--start {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.col--end {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

h1 {
  font-family: 'Yeseva One', cursive;

}

.center {
  text-align: center;
}

.formcenter {
  align-items: center;
}

.bold {
  font-weight: bold;
  font-size: 16px;
}

.yeseva {
  font-family: 'Yeseva One', cursive;
}

.disp-font {
  color: #007b5f;
  font-family: 'Yeseva One', cursive;
  text-shadow: 1px 1px 1px #000000
}


/* ///////////// FLASH MESSAGES ////////// */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex: 0 1 auto;
}

.flash-bar {
  color: #fff;
  position: absolute;
  height: 56px;
  left: 0;
  max-width: 1440px;
  right: 0;
  top: -56px;
  transition: all .3s cubic-bezier(.23,1,.32,1);
  width: 100%;
  z-index: 900;
}

.success {
  background-color: #007b5f
}

.error {
  background-color: #ff0d0d
}

.notice {
  background-color: #007b5f
}

.flash-font {
  font-family: Domaine-Regular,helvetica,sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
}


/* ///////////// NAVBAR //////////////// */

.nav {
    position: fixed;
    height: 56px;
    max-width: 1440px;
    width: 100%;
    top: 0;
    transition: all .4s cubic-bezier(.23,1,.32,1);
    z-index: 1000;
}

.nav.flash-active {
  top: 56px;
}

.logo-container {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-align: center;
}

.logo-font {
  font-family: somecoolfont;
  font-size: 30px;
  font-weight: normal;
  line-height: 26px;
  margin: 0;
}



.nav-end-link {
  text-align: center;
  font-family: Domaine-Regular,helvetica,sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;

}

.burger-line {
  width: 28px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

.dropbtn {
  border: none;
  padding: 6px, 0;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f8f7;
    z-index: 1;
    margin: 0 12px;
    height: auto;
    width: 200px;
}

.dropdown-content a {
    color: black;
    font-size: 20px;
    padding: 12px, 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {background-color: #bfded7;}
.dropdown:hover .dropdown-content {display: block;}



/* ///////////// BACKGROUNDS ////////////// */

.background {
  background: url("https://imgur.com/6erPeo2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.usershowb {
  background: url("https://imgur.com/IM0UrvD.jpeg") no-repeat center center fixed;
}

.homeb {
  background: url("https://imgur.com/IM0UrvD.jpeg") no-repeat center center fixed;
}

.signupb {
  background: url("https://imgur.com/IM0UrvD.jpeg") no-repeat center center fixed;
}

.loginb {
  background: url("https://imgur.com/IM0UrvD.jpeg") no-repeat center center fixed;
}

.newplantb {
  background: url("https://imgur.com/IM0UrvD.jpeg") no-repeat center center fixed;
}

.editplantb {
  background: url("https://imgur.com/IM0UrvD.jpeg") no-repeat center center fixed;
}

.plantindexb {
  background: url("https://imgur.com/IM0UrvD.jpeg") no-repeat center center fixed;
}

.newdispb {
  background: url("https://imgur.com/IM0UrvD.jpeg") no-repeat center center fixed;
}

.editdispb {
  background: url("https://imgur.com/IM0UrvD.jpeg") no-repeat center center fixed;
}

.dispindexb {
  background: url("https://imgur.com/IM0UrvD.jpeg") no-repeat center center fixed;
}

/* //////////////// FORMS /////////////// */

/* ///////////// BOXes //////////////// */

.shadow {
  box-shadow: 0 3px 10px #333;
}

.section {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background: #f2f8f7;
  width: 70%;
}

/* ///////////// BUTTONS/links //////////////// */

a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

a:link.logo, a:visited.logo, a:active.logo {
  font-family: 'Lobster', cursive;
  margin: 0;
  text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
	color: white;
}

.signlog {
  text-align: center;
  background: radial-gradient(white, #007b5f);
  width: 90px;
  height: 40px;
  border: 1px black;
  font-size: 20px;
  font-family: 'Yeseva One', cursive;
  margin: 8px;
}

.rename-add {
  text-align: center;
  background: radial-gradient(white, #007b5f);
  width: 120px;
  height: 30px;
  border: 1px black;
  font-size: 16px;
  font-family: 'Yeseva One', cursive;
  margin: 8px;
}

a:link.plantlink, a:visited.plantlink, a:active.plantlink {
  text-decoration: underline;
  font-weight: bold;
}

a:link.disp-font, a:visited.disp-font, a:active.disp-font {
  color: #007b5f;
  font-family: 'Yeseva One', cursive;
  text-shadow: 1px 1px 1px #000000
}

/* ///////////// FOOTER //////////////// */
